@import "~antd/dist/antd.css";
@import "./variables.scss";

.App {
  text-align: center;
}

.ant-drawer-body {
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.heading-color {
  color: $heading-color;
}
.ant-timeline-item-head {
  color: $heading-color;
}
.ant-timeline-item-head-blue {
  border-color: $base-color-highlight;
}
.todo-row:hover {
  background-color: $base-color-hover;
}
.todo-row {
  background: $base-color-lifted;
  color: $text-color;
  margin: 0px 15px 2px 15px;
  padding: 18px 13px;
}
.sidebar-right {
  background-color: $base-color-lifted;
}
.ant-tag {
  border: none;
  background: $base-color-highlight;
  color: $heading-color;
  &.todo-labels {
    cursor: pointer;
  }
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ant-layout {
  height: 100%;
  background: unset;
  color: $text-color;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.sidebar * {
  color: $text-color;
 
}
.ant-menu-item {
  cursor: default;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: $heading-color;
  cursor: default;
}
.ant-btn, .ant-btn:active, .ant-btn.active, .ant-btn:focus {
  background: $base-color-hover;
  color: $text-color;
  border: none;
}
.ant-btn:hover {
  background: $base-color-highlight;
}
.ant-input {
  background: $base-color-input;
  border: none;
  color: $text-color;
  
}
.ant-popover {
  color: $text-color !important; 
  
  .ant-popover-inner {
    background-color: $base-color-highlight !important;
  }
  .ant-popover-title {
    color: $heading-color;
  }
}
.ant-input:focus,
.ant-input:hover {
  background: $base-color-highlight;
  border: none;
  outline: none;
}
.ant-list-item {
  justify-content: unset;
}

.ant-card-body {
  padding: 0;
}
html,
body,
#root {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
body,
.ant-card,
.ant-page-header,
.ant-typography,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-page-header-heading-title,
.ant-statistic-content,
.ant-statistic {
  color: $text-color !important;

  background: $base-color;
}
.ant-timeline-item {
  padding: 0 0 5px;
}
h2.ant-typography,
.ant-typography h2 {
  color: $heading-color !important;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  box-shadow: none;
  background: $base-color-lifted;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: $base-color-lifted;
  box-shadow: none;
}
.root {
  min-height: 100%;
  bottom: 0;
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
}




.main-menu-class {
  background: $base-color-lifted;
}
// Custom
.menu-right {
  float: right;
}

