
$base-color: rgba(26, 27, 28, 1);

$base-color-lifted: rgb(37, 38, 39);
$base-color-highlight: rgb(56, 58, 59);
$base-color-input: rgb(45, 47, 48);
$base-color-hover: rgba(150, 150, 150, 0.3);
$text-color: rgba(217, 217, 217, 1);
$textmuted-color: rgba(217, 217, 217, 0.4);
$heading-color: rgba(120, 140, 222, 1);